
html, body {
  height: 100%;
  width: 100%;
}

.outer{
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}
.inner_body{
  margin-top: 30px;
}

.wrapper_stat_title{
  height: 65px;
}

.btn_bold{
  font-weight: 600 !important;
  font-size:xx-large !important;
}

.btn_slider{
  height:250px;
  width:250px;
}

.row_sliding{
  overflow-x: scroll;
  flex-wrap: nowrap !important;
  font-size: xx-large;
}
.row_sliding_vert{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.row_sliding_vert_title{
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
.btn-primary{
  border-color:#2a730b !important;

}

.col_lignes{
  text-align: center !important;
  font-size: xx-large;
  }

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color : #2a730b;
  height: 100px;
}
.station_title{
  text-align: center;
  font-size: xx-large;
  background-color: #3f9f1a;
  height: 50px;
}

.center_station{
 height:auto;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding : 10px;
  flex-grow : 1;
  background-color: #8EE4AF;
  border:1px #379683 solid;
  margin-top: 10px;
}

.row_lignes{
  height: 200px;
}

.last_row{
  flex :1;
}

.bottom_menu{
  display: flex;
  height: 150px;
  background-color : #000;
}

.button_menu{
  background-color : #2a730b !important;
}

.right_button{
  background-color : #2a730b !important;
}
.margin_right{
  margin-right: 3px;
  background-color : #2a730b !important;
}

.title{
  color : #000000;
  text-align: center;
  font: bold 36px Consolas;
}

.go_back{
  background-color: #1c4d07 !important;
  text-align: center;
  font: bold 36px;
}

.button{
  margin: 0px 20px 0px 0px;
}

.textField{
  margin: 0px 0px 0px 20px;
}

.label{
  margin: 0px 20px 0px 20px;
}

/*.slider{
  width: 400px;
  height: 15px;
  border-radius: 5px;
}*/

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 1.0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #5CDB95;
  cursor: pointer;
}


.menu {
  width: 120px;
  background-color: #8EE4AF;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
}

.menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 1.0);
  }
}

.disabled{
    pointer-events:none;
    opacity:0.4;
}

